
{% include 'header.html' %}
<div class="containerBienvenida">
    <div class="titleRegitros">
        <h1>Bienvenidos (A)</h1> 
        <h2>INICIA SESIÓN PARA CONTINUAR</h2>
    </div>
    <div class="colorsito">
        <div class="horizontalOptions">
            <div class="divOptions">
                <img alt="Docente" src="/static/images/sesion.png"/>
                <button class="boton" onclick="redireccionarAlogin('docente')">Docente</button>
                <button>Crear Cuenta</button>
            </div>
            <div class="divOptions">
                <img alt="Estudiante" src="/static/images/sesion.png"/>
                <button>Crear Cuenta</button>
            </div>
            <div class="divOptions">
                <img alt="Evaluador" src="/static/images/sesion.png"/>
                <button>Crear Cuenta</button>
            </div>
        </div>
        <button>Registrarse aqui</button>
    </div>

    <script>
        function irAlogin() {
            window.location.href = 'register.php';
        }
        
        function redireccionarAlogin(rol) {
            window.location.href = 'login.php?rol=' + rol;
        }
    </script>
    
</div>




